@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

body {
  min-width: 1000px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  /* min-width: 1000px;
  max-width: 1400px; */
  height: 47px;
  background-color: #243b93;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.logo-url {
  font-size: 0;
}

.logo-img {
  width: 100px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 65%;
  margin-left: 7%;
}

.menu-item {
  width: 20%;
}

.menu-link {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.16em;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.lang-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 1%;
}

.lang-img-box {
  display: flex;
  text-align: center;
}

.lang-img {
  width: 41px;
  height: 36px;
}

.lang-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 65px;
  padding-left: 5px;
}

.main {
  background-color: #fbe4ff;
  height: 700px;
  /* height: 2000px; */
}

.main-container {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}

.select-title {
  display: flex;
  align-items: center;
  height: 62px;
  background-color: #bff0ff;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  color: #202846;
}

.content-box {
  margin-top: 20px;
}

.select-btn-line {
  width: 100%;
  height: 42px;
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
}

.select-btn-line:hover {
  cursor: pointer;
}

.btn-line-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.61);
  position: relative;
  left: 40px;
}

.btn-line-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  margin-right: 10px;
  transform: rotate(90deg);
}

.places-list {
  width: 100%;
  list-style: none;
}

.list-item {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 90%;
  height: auto;
  background: linear-gradient(92.95deg, #adcbd5 0%, #00aee6 100%);
}

.item-img-box {
  width: 37%;
  min-height: 165px;
  /* height: auto; */
}

.item-img {
  width: 100%;
  height: 100%;
}

.text-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 3%;
}

.item-title {
  font-weight: 700;
  font-size: 26px;
  font-style: italic;
  color: #353c57;
  position: relative;
  top: -10px;
}

.title-underline {
  width: 85%;
  padding-left: 10px;
  padding-right: 15%;
  height: 3px;
  background-color: #fff;
}

.item-text {
  width: 85%;
  height: 10vw;
  min-height: 100px;
  max-height: 140px;
  background-color: #edfbff;
  margin-top: 2%;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  padding-right: 15%;
}

.star-icon {
  width: 35px;  
  fill: #fff;
}

@media (max-width: 1200px) {
  .menu-link {
    font-size: 10px;
  }

  .item-text {
    font-size: 14px;
  }

}
