@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
  max-width: 1400px;
  background-color: #212529;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 90px;
  height: 65px;
}

.logo-img {
  width: 100%;
  height: auto;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 35%;
}

.menu-item {
  font-weight: 600;
  font-size: 18px;
}

.menu-link {
  text-decoration: none;
  color: #fff;
}

.menu-link:hover {
  color: #ffb742;
}

.hire-btn {
  width: 130px;
  height: 58px;
  border: none;
  border-radius: 29px;
  background-color: #ffb742;
  color: #212529;
  font-size: 18px;
  font-weight: 700;
}

.hire-btn:hover {
  background-color: #fff242;
}

.hire-btn:active {
  background-color: #f5b326;
}


.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greetings-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding-top: 120px;
}

.greetings-text:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
}

.greetings-text:nth-child(2) {
  font-size: 48px;
  font-weight: 700;
  line-height: 91px;
}

.greetings-text:nth-child(3) {
  font-size: 24px;
  font-weight: 400;
  line-height: 51px;
}

.avatar-container {
  width: 200px;
  height: 200px;
}

.avatar-img {
  width: 100%;
  height: 100%;
}


.expirience {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  width: 100%;
}

.xp-card {
  display: flex;
  align-items: center;
  background-color: #292B2E;
  color: #fff;
  width: 26%;
  height: 120px;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
}

.xp-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
}